input {
    font-size: 30px;
    margin-top: 30px;
}

#echo-wrapper {
    color: white;
    margin-top: 5%;
    text-align: center;
    margin-left: -4%;
}

#echo {
    padding: 40px;
    font-size: 70px;
    background-color: #262629;
    border-radius: 30px;
    opacity: 50%;
    display: none;
}